.q-a {

  display: flex;
  border-radius: 0.2em;
  margin: 0.2em;
  background-color: #292f41;

  .container-q {
    align-self: center;
    overflow-wrap: break-word;
    width: 15vw;
  }

  .vertical {
    Float:left;
    border: 1px solid #897f6e;
  }

  .container-a {
    text-align: start;
    align-self: center;
    overflow-wrap: break-word;
    width: 35vw;
    height: 3vw em;
  }
  
}