.deck-container {
    margin: 0 auto;
    width: 80vw;
}

.deck-name-container{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #2e3856;
    border-radius: 5px;
    border-bottom: 6px solid #2e3856;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    &:hover { 
        border-bottom: 6px solid #bec2d0;
    }

    .deck-click-container {
        font-size: 3.5vmin;
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        width: 100%;
        padding: 12px; 
        font-weight: 600;

        .deck-name {
            width: 20vw;
            font-weight: 600;
        }
    }

    .delete-logo-container {
        margin-right: 5px;
        .delete-logo {
            font-size: 2em;
            cursor: pointer;
            &:hover{
                color: #FF0000;
            }
        }
    }
}