
.view-deck-page-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;

    .view-deck-page {

        .back-link-text {
            color:#868dd1;
            cursor: pointer;
    
            &:hover{ 
                color:#4255ff;
                
            } 
        }

        .deck-title-error-message {
            color: red;
        }
    
        .deck-title-div {
    
            .deck-title-span {
                width: 80%;
            }
    
            .title-input-text {
                outline: none;
                margin: 1vh 12vh 1vh 1vh;
                width: 100%;
                height: 5vh;
                background-color: #0a082e;
                font-size: 1em;
                color: #ffffff;
                border: none;
                &:focus{ 
                    outline: none;
                    border-bottom: 3px solid #ffce25;
                } 
            }
    
        }
    
        .card-container {
            margin: 1.0vw 8vw 1.0vw 8vw;
        }
    
        .card-input-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding: 1em 0;
        }
    
        .submit-deck-button-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}



