
.view-deck-page-container {
    align-items: center;
    justify-self: center;
    justify-items: center;
    margin: 1vw 10vw 0 10vw;

    .edit-card-container{
    
        .back-link-text {
            border-bottom: 2px solid #0a082e;
            color:#868dd1;
            font-size: 1.5em;
            font-weight: 400;
            cursor: pointer;
    
            &:hover{ 
                color:#4255ff;
                border-bottom: 2px solid #D1D2DC;
            } 
        }

        .title-constant {
            font-size: 1.5em;
            font-weight: 600;
        }

        .deck-title-error-message {
            color: red;
        }
        
        .view-deck-header {
    
            .edit-deck-name {
                width: 80%;
            }

            .title-input-text {
                width: 100%;
                height: 6vh;
                outline: none;
                color: #ffffff;
                font-size: 1.5em;
                font-weight: 400;
                border: none;
                background-color: #0a082e;
                border-bottom: 3px solid #0a082e;
                &:focus{ 
                    outline: none;
                    border-bottom: 3px solid #ffce25;
                } 
            }
        }
    
        .card-input-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding: 0 0 1.5em 0;
            overflow: hidden;
            box-sizing: border-box;
            resize: none;
        }
    
        .submit-deck-button-container {
            margin: 1.0vw 0 1.0vw 0;
            display: flex;
            justify-content: end;
        }
    }
}



