@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.font-link {
    font-family: 'Russo One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#root{
    font-family: 'Source Sans Pro';
}

.card {
    margin: 15px 10px;
    background-color: #2e3856;
    border-radius: 10px;
    height: 120px;
    
    .card-toolbar {
        border-bottom: 2px solid black;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .card-number {
        color: #bec2d0;
    }

    
    .delete-logo-container{
        cursor: pointer;
        &:hover {
            color: 	#FF0000;
        }
    }
    
    .input-text {
        margin: 1vh 1vh 0 0;
        font-family: 'Russo One', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        color: #f6f7fb;
        font-size: 16px;
        height: fit-content;
        border-color: #f6f7fb;
        border-style: solid;
        border-width: 0 0 1.5px 0;
        margin-right: 30px;
        background-color: #2e3856;
        width: 60%;
        resize: none;

        &:focus{ 
            border-bottom: 3px solid #ffce25;
            outline: none;
        } 
    }

    .input-text-a {
        margin: 0 5em 0 0;
        color: #f6f7fb;
        font-size: 16px;
        border-color: #f6f7fb;
        border-style: solid;
        border-width: 0 0 1.5px 0;
        margin-right: 30px;
        background-color: #2e3856;
        width: 60%;
        resize: none;

        &:focus{ 
            border-bottom: 3px solid #ffce25;
            outline: none;
        } 
    }

    .card-input-container {
        // padding: 30px;
    }

    

}

