
.font-link {
    font-family: 'Russo One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-card-div {
    margin: 1.0vw 0;
}

.card {
    // margin: 15px 10px;
    // margin: 1.5vw 8vw 1.5vw 8vw;
    background-color: #2e3856;
    border-radius: 10px;
    height: 18vh;
    // height: 10vmin;
    
    .card-toolbar {
        border-bottom: 2px solid #0a082e;
        display: flex;
        justify-content: space-between;
        padding: 0.9vh;
    }

    .card-number {
        color: #ffffff;
        margin: 0.1vw 0 0 1vw;
        font-size: 1.1rem;
    }

    .delete-logo-container {
        cursor: pointer;
        margin: 0 0.5vw 0 0;
        @media (max-width: 720px),(max-height: 500px) {
            color: 	#0dff8a;
        }
            
        &:hover {
            color: 	#FF0000;
        }
    }
    

    .delete-logo {
        cursor: pointer;
        margin: 0 0.5vw 0 0;
        @media (max-width: 720px),(max-height: 500px) {
            font-size: 0.6em;
        }
            
        &:hover {
            color: 	#FF0000;
        }
    }


    .input-text {
        margin: 0.7vh 1.6vh 0.2vh 1.5vw;
        font-family: 'Russo One', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        color: #f6f7fb;
        font-size: 1.1em;
        border-color: #f6f7fb;
        // border-style: solid;
        border-width: 0 0 0.2vw 0;
        // margin-right: 30px;
        margin-right: 2vw;
        background-color: #2e3856;
        height: 6vh;
        width: 60%;
        resize: none;
        
        @media (max-width: 720px) {
            font-size: 0.7em;
            height: 4vh;
        }

        @media (max-height: 500px) {
            font-size: 0.3em;
            height: 2vh;
        }

        &:focus{ 
            border-bottom: 0.3vw solid #ffce25;
            outline: none;
        } 
    }

    // .input-text-a {
    //     margin: 0 0 0 1vw;
    //     font-family: 'Russo One', sans-serif;
    //     font-family: 'Source Sans Pro', sans-serif;
    //     color: #f6f7fb;
    //     font-size: 17px;
    //     border-color: #f6f7fb;
    //     border-style: solid;
    //     border-width: 0 0 1.5px 0;
    //     margin-right: 30px;
    //     background-color: #2e3856;
    //     width: 60%;

    //     &:focus{ 
    //         border-bottom: 3px solid #ffce25;
    //         outline: none;
    //     } 
    // }
    
}

