
.deck-container {
  width: 80%;

  .deck-list-heading {
    display: flex;
    
      .deck-title {
        margin: 1vw 0 0 0;
        font-size: 2.5rem;
        font-weight: 500;
      }
  
    }

    .user-name {
      margin: 0.5vw 0 1vw 0;
      font-size: 1.5em;
    }
}


