
.deck-container {
  width: 80%;

  .deck-div {
    border-bottom: 1px solid black;
    justify-self: center;
   
  
      .deck-title {
        margin: 0.5em 0;
        font-size: 2.5rem;
        font-weight: 700;
      }
  
    }
}

