// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.vsc-initialized {
  background: #090820;
  font-family: 'Source Sans Pro';
  color:#ffffff;
}

.main-div {
  display: grid;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-all !important;
  align-items: center;
  justify-items: center;
}

.deck-title{
 font-size: 8vh;
 text-align: center;
  margin-bottom: 15px;
}
.deck-preview {
  font-size: 4vmin;
  width: 50vw;
  align-self: center;
}

.primary-card-container {
  background: #292f41;
  display: flex;
  text-align: center;
  margin: 0;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px #ffafaf1a, 0px 4px 8px rgba(255, 255, 255, 0.1),
    0px 8px 16px rgba(252, 189, 189, 0.1), 0px 16px 32px rgba(255, 255, 255, 0.1);
  position: relative;
  cursor: pointer;
  transition: 800ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(var(--rotate-y, 0))
  translateY(var(--translate-x, 180deg));

  @media only screen and (max-width: 400px) {
    height: 70vh;
    width: 70vw;
    font-size: 5rem;
  }
}

.side {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(180deg);
  background: #292f41;
}

.card-flip {
  position: relative;
  transform: rotateX(180deg);
  width: 90%;
}

.test {
  position: relative;
  width: 90%;
}

.flash-card-text {
  overflow: hidden;
  position: relative;
}

.primary-card-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2vmin 1.2vmin;
  color: #ffffff;
  cursor: pointer;

    .right-arrow:hover {
      color: #eb952c;
    }
    .left-arrow:hover {
      color: #eb952c;
    }
}

.deck-length {
  margin: 0 4vw 0 4vw;
  align-self: center;
  // font-size: 1.2rem;
}

.q-in-set-div {
  font-size: 3vmin;
  width: 50vw;
  align-self: center;

  .q-in-set {
    margin-top: 1.5vw;
    border-top-style: inset
  }
}

.questions-answers {
  display: flex;
  flex-wrap: wrap;
  color:#ffffff;
  align-items: center;
  justify-content: center;
  margin: 1em;

  .preview-card-container {
    background-color: 0a082e;
    text-align: center;
  }

  @media only screen and (max-width: 400px) {
    
    display: grid;
    align-items: stretch;
    justify-content: center;

  .q-a {
    display: grid;
    width: 70vw;
    align-self: center;
    justify-content: space-evenly;

      .css-jskou6 {
        font-size: 5vmin;
      }
      .css-15wj3gn {
        font-size: 4vmin;
      }
    }
  }
}

.button {
  display: grid;
  margin-top: 1em;
  grid-template-rows: 1f;
  align-items: center;
}