
.deck-preview-container {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}

.slide-show-container {
  display: grid;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-all !important;
  align-items: center;
  justify-items: center;
  border-bottom: inset;
  margin-bottom: 4vmin;
}

.deck-preview-heading {
  .deck-preview-constant{
    font-size: 2.5rem;
    margin: 1vw 0 0 0;
  }
  .deck-preview-title {
    font-size: 1.5rem;
    margin: 1vw 0 1vw 0;
  }

}

.primary-card-container {
  background: #292f41;
  display: flex;
  text-align: center;
  margin: 0;
  height: 55vh;
  width: 55vw;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px #ffafaf1a, 0px 4px 8px rgba(255, 255, 255, 0.1),
    0px 8px 16px rgba(252, 189, 189, 0.1), 0px 16px 32px rgba(255, 255, 255, 0.1);
  position: relative;
  cursor: pointer;
  transition: 800ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(var(--rotate-y, 0))
  translateY(var(--translate-x, 180deg));
  word-break: break-word;
}

.side {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(180deg);
  background: #292f41;
  word-break: break-word;
}

.card-flip {
  position: relative;
  transform: rotateX(180deg);
  display: inline-block;
  word-break: break-word;
}

.default {
  position: relative;
  word-break: break-word;

}

.flash-card-text {
  font-size: 8vmin;
  overflow: hidden;
  position: relative;
  word-break: break-word;
}

.slide-show-control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vmin 1.2vmin;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;

    .right-arrow:hover {
      color: #eb952c;
    }
    .left-arrow:hover {
      color: #eb952c;
    }
}

.deck-length {
  margin: 0 6vw 0 6vw;
  align-self: center;
  font-size: 1.8em;
}

.preview-card-container {
  justify-content: center;
  color:#ffffff;

  @media only screen and (max-width: 400px) {
    
    display: grid;
    align-items: stretch;
    justify-content: center;

  }
}

.add-remove-button-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5em 0 1em 0;
}