.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-color: #f6f7fb;
    border-width: 0 0 1.5px 0;


    .header-right {
        align-items: center;
        display: inline-flex;
        font-size: 10px;
    }
}