

    .add-row-card-container {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2e3856;
        border-radius: 10px;
        height: 14vh;
        font-weight: bold;
        cursor: pointer;

        .add-card-main {
            margin: 0;
        }

        &:hover{ 
            color:#ffce25;
            .add-card-div {
                border-bottom: 5px solid #ffce25;  
            }
        }

        .add-card-div {
            display:flex;
            text-align: center;
            border-width: thick;
            border-bottom: 5px solid #3dcfcf;
        }

        .add-card-row-text {
            margin-bottom: 0.8em;
            font-size: 1.4em;
        }
    }